<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>VETRA Anasayfa</title>
</head>
<body>
    <h1>VETRA Uygulamasına Hoş Geldiniz!</h1>
    
     <!-- Navigasyon Menüsü -->
     <nav style="text-align:center;">
        <a href="/">Anasayfa</a> |
        <a href="/list-users">Kullanıcı Listele</a> |
        <a href="/add-user-form">Kullanıcı Ekle</a>
        <a href="/match-users" class="match-button">🤝 Eşleşmeleri Göster</a>

    </nav>
    <p style="text-align: center; font-size: 1.2em; margin-top: 20px;"> VETRA'da yeni misiniz? <a href="/add-user-form" class="join-link">HEMEN KATILIN!</a></p>
</body>
</html>
